---
import TagPill from "../ui/TagPill.astro";

type Props = {
  title: string;
  excerpt?: string;
  heroImage?: string;
  href: string;
  tags?: string[];
};

const { title, excerpt, heroImage, href, tags = [] } = Astro.props as Props;
---

<article>
  <a href={href} class="home-card">
    {heroImage && (
      <img class="thumb" src={heroImage} alt={title} loading="lazy" />
    )}
    <div class="content">
      <h3>{title}</h3>

      {excerpt && <p>{excerpt}</p>}

      <div class="separator"></div>

      {tags.length > 0 && (
        <ul class="tags">
          {tags.map((t) => <TagPill label={t} />)}
        </ul>
      )}
    </div>

    
  </a>
</article>


<style>

article {
  width: 90%;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*
a, a > *, a > * > * {
  border: 1px solid var(--color-text);
}
*/

img {
  border-radius: var(--br-md, 0.5rem);
  object-fit: cover;
  aspect-ratio: 5 / 2;
}

h3 {
  margin: auto;
}

.separator {
  height: 1px;
  background-color: var(--color-text);
  margin: 1rem 0;
}

.tags {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (min-width: 800px) {
  a {
    display: flex;
    flex-direction: row;
  }

  img {
    aspect-ratio: 16 / 9;
    width: 350px;
    height: auto;
  }
}

</style>
