---
import BaseLayout from './BaseLayout.astro';
import ContentHeader from '../components/layout/ContentHeader.astro';
import TagPill from '../components/ui/TagPill.astro';

interface Props {
  title: string;
  section: 'blog' | 'projects';
  metaTitle?: string;
  metaDesc?: string;
  lang?: 'es' | 'en';
  class?: string; // para aplicar clases al <main>
  heroImage?: string;
  publishDate?: Date;
  tags?: string[];
}

const {
  title,
  section,
    // Fallbacks: usa el propio título si no te pasan metaTitle/metaDesc
  metaTitle = title,
  metaDesc = '',
  lang = (Astro.currentLocale as 'es' | 'en') ?? 'es',
  class: mainClass = '',
  heroImage,
  publishDate,
  tags = []
} = Astro.props;

const formattedDate = publishDate?.toLocaleDateString(lang, {
  year: 'numeric',
  month: 'long',
  day: 'numeric'
});
---

<BaseLayout title={metaTitle} description={metaDesc} lang={lang}>
  <ContentHeader title={title} section={section} />
  <main class={mainClass}>
    <article class="post-header">
      {heroImage && <img src={heroImage} alt={title} class="hero-image" />}
      <h1>{title}</h1>
      {publishDate && <time datetime={publishDate.toISOString()}>{formattedDate}</time>}
      {tags.length > 0 && (
        <ul class="tags-list">
          {tags.map(tag => (
            <TagPill label={tag}/>
          ))}
        </ul>
      )}
    </article>
    <article class="post-content">
      <slot />
    </article>
  </main>
</BaseLayout>


<style>

  .red {
    border: 1px solid red;
  }

  main {
    width: 95%;
    margin: 0 auto;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg, 32px);
    margin-bottom: var(--space-xl, 64px);
  }

  article {
    width: 100%;
  }
  .post-content {
    width: 90%;
    font-size: 1rem;
    max-width: 800px;
  }

  .post-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-m, 16px);
  }

  .hero-image {
    width: 100%;

    border-radius: 8px;
    border: 1px solid var(--color-border, #ddd);
  }

  h1 {
    margin: 0;
    margin-bottom: var(--space-m, 16px);
  }

  time {
    display: block;
    color: var(--color-text-secondary, #666);
  }

  .tags-list {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-xs, 8px);
    list-style: none;
  }
</style>