---
import BaseLayout from './BaseLayout.astro';
import ContentHeader from '../components/layout/ContentHeader.astro';

interface Props {
  title: string;
  section: 'blog' | 'projects';
  metaTitle?: string;
  metaDesc?: string;
  lang?: 'es' | 'en';
  class?: string; // para aplicar clases al <main>
}

const {
  title,
  section,
    // Fallbacks: usa el propio título si no te pasan metaTitle/metaDesc
  metaTitle = title,
  metaDesc = '',
  lang = (Astro.currentLocale as 'es' | 'en') ?? 'es',
  class: mainClass = ''
} = Astro.props;
---

<BaseLayout title={metaTitle} description={metaDesc} lang={lang}>
  <ContentHeader title={title} section={section} />
  <main class={mainClass}>
    <slot />
  </main>
</BaseLayout>


<style>
  main {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: var(--space-xl, 64px);
	}
</style>